
li {
  font-size: 15px;
}

#content-wrapper {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 15% 85%;
    /* grid-template-rows: 10% 90%; */
    grid-template-areas:
        /* 'nav-bar nav-bar' */
        'side-bar wb-container';
}


#side-bar {
    grid-area: side-bar;
    background-color: lime;
    text-align: center;
}

/* grid for wb-container*/
#wb-container {
    grid-area: wb-container;
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 10% 80% 10%;
    grid-template-areas:
        '. wb-title .'
        '. white-board .'
        '. markers .'
}


#wb-title {
    grid-area: wb-title;
    background-color: yellow;
}

#markers {
    grid-area: markers;
    background-color: orange;
}

/* grid for white-board */
#white-board {
    grid-area: white-board;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
        'to-dos quotes'
        'doodles krazy-thoughts'

}

#to-dos {
    grid-area: to-dos;
    font-family: 'Permanent Marker', cursive;
}

#quotes {
    grid-area: quotes;
    font-family: 'Permanent Marker', cursive;
}

#doodles {
    grid-area: doodles;
}

#krazy-thoughts {
    grid-area: krazy-thoughts;
    font-family: 'Permanent Marker', cursive;
}


#doodle-canvas{
    /* width: 100%;
    height: 100%; */
    border-style: solid;
    border-width: 1px;
}
 .list {
   list-style: none;
 }

.wb-form input {
  font-family: 'Permanent Marker', cursive;
  font-size: 15px;
  border-style: none;
  min-width: 80%;
  /* box-shadow: 0 2px 0 black; */
}

.wb-section {
  background-color: white;
  border-style: solid;
  border-width: 1px;
}

/* .wb-form {
  opacity: 0;
} */
